<div class="nav-container">
  <button class="button1" routerLink="/register" style="margin-right: 5px;" routerLinkActive="active">Register</button>
  <button class="button2" routerLink="/configure" routerLinkActive="active">Configure</button>
</div>

<div class="container">
  <h1 class="title">Form Configuration</h1>
  
  <!-- Form configuration container -->
  <div class="form-config-container">
    <div class="grid-header">
      <div class="header-item1">SHOW FIELD</div>
      <div class="header-item2"></div>
      <div class="header-item3">REQUIRED FIELD</div>
    </div>

    <!-- Reorderable grid rows -->
    <div
      class="grid-row"
      *ngFor="let field of fields; let i = index"
      [draggable]="true"
      (dragstart)="onDragStart($event, i)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, i)"
      (dragend)="onDragEnd($event)">
      <div class="grid-cell">
        <input type="checkbox" 
        [(ngModel)]="field.show" 
        [disabled]="field.name.toLowerCase()==='email'"/>
      </div>
      <div class="grid-cell" id="field-name">{{ field.name }}</div>
      <div class="grid-cell">
        <input type="checkbox" [(ngModel)]="field.required" [disabled]="!field.show || field.name.toLowerCase()==='email'" />
      </div>
    </div>

    <!-- Save Button -->
    <button kendoButton type="submit" class="save-btn" (click)="saveChanges()">Save Changes</button>

  </div>
</div>









