<div class="container">
  <h1 class="title">Set Password</h1>
  <div class="form-box">
    <form [formGroup]="pwd_form" (ngSubmit)="submitPwdForm()" class="registration-form">
      
      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password <span style="color: red;">*</span></label>
        <input kendoTextBox type="password" formControlName="password" id="password" />
        
        <div *ngIf="isPwdFieldInvalid('password')" class="error">
          <span *ngIf="pwd_form.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="pwd_form.get('password')?.errors?.['pattern']">Invalid password format.</span>
        </div>
      </div>

      <!-- Confirm Password Field -->
      <div class="form-group">
        <label for="confirmpassword">Confirm Password <span style="color: red;">*</span></label>
        <input kendoTextBox type="password" formControlName="confirmpassword" id="confirmpassword" />

        <div *ngIf="isPwdFieldInvalid('confirmpassword')" class="error">
          <span *ngIf="pwd_form.get('confirmpassword')?.hasError('required')">
            Confirm Password is required.
          </span>
          <span *ngIf="!pwd_form.get('confirmpassword')?.hasError('required') && pwd_form.get('confirmpassword')?.hasError('passwordMismatch')">Passwords did not match.</span>
        </div>
      </div>
      
      <button kendoButton type="submit" class="submit-btn">
        Confirm
      </button>
      
    </form>
  </div>
</div>
